@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  background: #FBF9F5;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 2.5rem;
text-align: center;
}
h2{
  font-family: "morning-brew", "Roboto",sans-serif;
  font-size: 1.6rem;
  text-align: center;
}
p{
  font-size: 14px;
}
li{
  font-size: 14px;
}