@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: 'morningbrew';
  src: url('./fonts/MorningBrew-Regular.otf') format('opentype');

}


body {

  background: #FBF9F5;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 2.5rem;
text-align: center;
font-family: 'morningbrew', sans-serif;
font-weight: bold;
}
h2{
  font-family: "morningbrew", "Roboto", sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

p{
  font-size: 14px;

}
li{
  font-size: 14px;
}